 * {
      font-family: 'Courier New', Courier, monospace;
    }

body{
    background-color: #EAF6F6;
   
}
h1{
    color: #F5EEDD;
    font-family: 'Lucida Handwriting', cursive;
   
    text-shadow:0 0 5px #077A7D , 0 0 5px #077A7D,2px 2px 5px #06202B;
}


    

h3{
    color: #66BFBF;
    
}
p{
    color: black;
}
ul{
    color: black;
}
tr td{
    color: black;

}

form{
     color:black;
}
input[type=submit]{
    background-color: #F76B8A;

}
input[type=submit]:hover{
    background-color: #feb8c7;
}
img{
    
    border-radius: 100%;
}

hr {
    border: none;
    border-top: 1px dotted gray;
    width: 70%;
}
 hr {
      width: 80%;
      border: 0;
      border-top: 1px solid #444;
      margin: 20px auto;
    }

.social{
    text-align: center;
    font-size: 24px;
    padding-top: 30px;
}
.social a {
    color: darkgray;
    margin: 0 12px;
    text-decoration: none;
    transition: color 0.3s ease, transform 0.2s ease;
}

.social a:hover {
    transform: scale(1.15);
}

.social a:hover .fa-github {
    color: #c06eff;
}
.social a:hover .fa-linkedin {
    color: #0a66c2;
}
   

.social a:hover .fa-instagram {
  color: #e4405f;
}

.social a:hover .fa-x-twitter {
  color: #000000;
}
footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 30px 20px;
  font-family: Arial, sans-serif;
}
footer .social-icons a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
  font-size: 22px;
  transition: 0.3s;
}
.social-icons .fa-github:hover {
  color: #b3b3b3;
}
.social-icons .fa-linkedin:hover {
  color: #0077b5;
}
.social-icons .fa-instagram:hover {
  color: #e4405f;
}
.thank-text {
  font-size: 20px;
  margin-bottom: 15px;
  font-weight: 500;
}
.mes{
    font-family: 'Lucida Handwriting', cursive;
    color: #66bfbf;
    font-size: 20px;
}
h1.contact-atul{
    color: #F5EEDD;
    font-family: 'Lucida Handwriting', cursive;
   
    text-shadow:0 0 5px #077A7D , 0 0 5px #077A7D,2px 2px 5px #06202B;
}
p.contact-atul-para{
   
    color: #66BFBF;
    font-weight: 700;
    font-size: 20px;
    -webkit-text-stroke: 0.5px black;
    text-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
        
}